.welcome-line{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    margin-bottom: 60px;
}

.welcome-line__row{
    padding: 20px 0px 10px 0px;
    color: #754F44;
    font-size: 40px;
    border-bottom: 1.5px solid #FDD692
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form input{
    padding:15px 10px;
    border:none;
    font-size: 15px;
    width: 150px;
    background-color:#9B8281;
    border-radius: 3px;
    display: flex;
    text-align: center;
    opacity: 0.6;
}

input::-webkit-input-placeholder{color: whitesmoke;}
input::-webkit-input-placeholder{opacity: 0.5;}

.login-form input:first-child{
    margin-bottom: 10px;
}

.login-form input:last-child{
    margin-bottom: 50px;
}

body{
    background-color:#F8FAFF;
}

.welcome-line__row:last-child{
    display: flex;
    justify-content: space-between;
}

.enter-form{
    display: flex;
    flex-direction: column;
}

.enter-form input:first-child{
    text-align: left;
    background-color: #55967e;
}

.enter-form input:last-child{
    text-align: right;
    background-color: #4f953b;
}


.enter-form input{
    border: none;
    padding: 15px 10px;
    opacity: 0.4;
}

.enter-form input:focus{
    text-decoration: none;
}

.index-find__link{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-decoration: none;
}

.index-find__link:visited{
    color:rgba(0, 0, 0, 0.5);
}

